body,html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding:0;
}
.content{
	position: absolute;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
#loader{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 5;
	text-align: center;
	padding-top: 50%;
	font-size: 3em;
	color: #fefefe;
	background: #222;
}
#index_img {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 3;
	
}

#bottom_img {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
}
.tips{
	/*display: none;*/
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
}
.tips img{
	position: absolute;
}

.text{
	width: 100%;
}
.ads{
	display: none;
	position: absolute;
	right:2%;
	top: 13%;
	max-width: 500px;
	width: 40%;
}
#tip1_01{
	width: 100%;
	bottom: 0px;
}
/*小妹妹*/
#tip1_02{
	display: none;
	/*width: 50%;
	top:50%;*/
	bottom: 6%;
}
/*文字*/
#tip1_03{
	display: none;
	/*width: 200px;*/
	top:13%;
}
#tip1_04{
	width: 100%;
}
/*底部*/
#tip1_05{
	display: none;
	width: 100%;
	bottom: 0px;
}




#tip2_01{
	width: 100%;
	bottom: 0px;
}
/*小妹妹*/
#tip2_02{
	display: none;
	max-width: 900px;
	width: 80%;
	/*top:50%;*/
	right: 2%;
	bottom: 6%;
}
/*文字*/
#tip2_03{
	display: none;
	/*width: 200px;*/
	top:13%;
}
#tip2_04{
	width: 100%;
}
/*底部*/
#tip2_05{
	display: none;
	width: 100%;
	bottom: 0px;
}




#tip3_01{
	width: 100%;
	bottom: 0px;
}
/*小妹妹*/
#tip3_02{
	display: none;
	max-width: 900px;
	width: 80%;
	/*top:50%;*/
	right: 0px;
	bottom: 6%;
}
/*文字*/
#tip3_03{
	display: none;
	/*width: 200px;*/
	top:13%;
}
#tip3_04{
	width: 100%;
}
/*底部*/
#tip3_05{
	display: none;
	width: 100%;
	bottom: 0px;
}





#tip4_01{
	width: 100%;
	bottom: 0px;
}
/*小妹妹*/
#tip4_02{
	display: none;
	max-width: 900px;
	width: 80%;
	/*top:50%;*/
	right: 0px;
	bottom: 6%;
}
/*文字*/
#tip4_03{
	display: none;
	/*width: 200px;*/
	top:13%;
}
#tip4_04{
	width: 100%;
}
/*底部*/
#tip4_05{
	display: none;
	width: 100%;
	bottom: 0px;
}





#tip5_01{
	width: 100%;
	bottom: 0px;
}
/*小妹妹*/
#tip5_02{
	display: none;
	max-width: 900px;
	width: 80%;
	/*top:50%;*/
	
	bottom: 6%;
}
/*文字*/
#tip5_03{
	display: none;
	/*width: 200px;*/
	top:13%;
}
#tip5_04{
	display: none;
	/*width: 100%;*/
}
/*底部*/
#tip5_05{
	display: none;
	/*width: 50%;*/
	bottom: 0px;
}

