body,html{
	margin: 0;
	padding:0;
}
.content{
	overflow: hidden;
}
#index_img {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
	
}

#bottom_img {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}
#next_img{
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}